.env
.idea
.DS_Store
*.log
trolley.log
docker-compose.yml
*.ini
config.ini

# front
web/front/node_modules
web/front/.pnp
web/front/.pnp.js
web/front/build
web/front/.DS_Store
web/front/.env.local
web/front/.env.development.local
web/front/.env.test.local
web/front/.env.production.local
web/front/npm-debug.log*
web/front/yarn-debug.log*
web/front/yarn-error.log*
web/test.py
web/front/src/components/mockdata.json
web/scripts/__pycache__
.config
deployment_utils/.config
web/__pycache__/
web/mongo_handler/__pycache__/
web/variables/__pycache__/
web/scripts/__pycache__/
web/scripts/__pycache__/aws_discovery_script.cpython-310.pyc
web/scripts/__pycache__/gcp_discovery_script.cpython-310.pyc
web/gcp_credentials.json
web/scripts/gcp_credentials.json
mongo-volume/
*.wepb
*.pyc
thumbnail*