name: EKS Deployment
on:
  repository_dispatch:
    types: eks-build-api-trigger

jobs:
  deploy-eks-cluster:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Echo the values
        run: |
          echo "${{ github.event.client_payload.cluster_name }}"
          echo "${{ github.event.client_payload.cluster_version }}"
          echo "${{ github.event.client_payload.region_name }}"
          echo "${{ github.event.client_payload.zone_names }}"
          echo "${{ github.event.client_payload.num_nodes }}"
          echo "user_name is: ${{ github.event.client_payload.user_name }}"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-access-key-id: ${{ github.event.client_payload.aws_access_key_id }}
          aws-secret-access-key: ${{ github.event.client_payload.aws_secret_access_key }}
          aws-region: us-east-1
      - name: Trigger EKS Build
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          export KUBECONFIG=/home/runner/.kube/config
          aws sts get-caller-identity
          curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
          which helm >> /tmp/helm_path
          brew install eksctl
          eksctl create cluster --region=${{ github.event.client_payload.region_name }} --zones=${{ github.event.client_payload.zone_names }} --name ${{ github.event.client_payload.cluster_name }} --version ${{ github.event.client_payload.cluster_version }} --nodes ${{ github.event.client_payload.num_nodes }}
          aws eks --region ${{ github.event.client_payload.region_name }} update-kubeconfig --name ${{ github.event.client_payload.cluster_name }}
          cat /home/runner/.kube/config
      - name: Post Deployment Tasks
        env:
          MONGO_USER: ${{ secrets.MONGO_USER }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
          MONGO_URL: ${{ secrets.MONGO_URL }}
          KUBECONFIG: '/home/runner/.kube/config'

        run: |
          curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
          which helm >> /tmp/helm_path
          export PYTHONPATH=$PYTHONPATH:.
          pip3 install -r web/requirements.txt
          python3 deployment_utils/kubernetes_post_deployment.py --cluster_type eks --project_name ${{ secrets.PROJECT_NAME }} --cluster_name ${{ github.event.client_payload.cluster_name }} --user_name ${{ github.event.client_payload.user_name }} --zone_name ${{ github.event.client_payload.zone_names }} --region_name ${{ github.event.client_payload.region_name }} --cluster_metadata ${{ github.event.client_payload.cluster_metadata }}

      - name: Deleting Cluster
        if: always()
        run: |
          eksctl delete cluster --region=${{ github.event.client_payload.region_name }} --name=${{ github.event.client_payload.cluster_name }}