name: GKE Deployment
on:
  repository_dispatch:
    types: gke-build-api-trigger

jobs:
  deploy-gke-cluster:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Echo the values
        run: |
          echo "cluster_name is: ${{ github.event.client_payload.cluster_name }}"
          echo "cluster_version is: ${{ github.event.client_payload.cluster_version }}"
          echo "zone_name is: ${{ github.event.client_payload.zone_name }}"
          echo "image_type is: ${{ github.event.client_payload.image_type }}"
          echo "helm_installs are: ${{ github.event.client_payload.helm_installs }}"
          echo "expiration_time is: ${{ github.event.client_payload.expiration_time }}"
          echo "user_name is: ${{ github.event.client_payload.user_name }}"

      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDS_JSON }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0
      - name: Use gcloud CLI
        run: gcloud info
      - name: Installing GKE Cluster
        run: |
          export KUBECONFIG=/tmp/kubeconfig
          brew install helm
          which helm >> /tmp/helm_path
          gcloud container images list
          gcloud components install beta --quiet
          gcloud components install gke-gcloud-auth-plugin
          gcloud beta container --quiet --project ${{ secrets.GCP_PROJECT_ID }} clusters create ${{ github.event.client_payload.cluster_name }} --zone ${{ github.event.client_payload.zone_name }} --no-enable-basic-auth --cluster-version ${{ github.event.client_payload.cluster_version }} --release-channel stable --machine-type e2-medium --image-type ${{ github.event.client_payload.image_type }} --disk-type pd-standard --disk-size 100 --metadata disable-legacy-endpoints=true --scopes https://www.googleapis.com/auth/devstorage.read_only,https://www.googleapis.com/auth/logging.write,https://www.googleapis.com/auth/monitoring,https://www.googleapis.com/auth/servicecontrol,https://www.googleapis.com/auth/service.management.readonly,https://www.googleapis.com/auth/trace.append --max-pods-per-node 110 --num-nodes ${{ github.event.client_payload.num_nodes }} --logging=SYSTEM,WORKLOAD --monitoring=SYSTEM --enable-ip-alias --network projects/${{ secrets.GCP_PROJECT_ID }}/global/networks/default --subnetwork projects/${{ secrets.GCP_PROJECT_ID }}/regions/${{ github.event.client_payload.region_name }}/subnetworks/default --no-enable-intra-node-visibility --default-max-pods-per-node 110 --no-enable-master-authorized-networks --addons HorizontalPodAutoscaling,HttpLoadBalancing,GcePersistentDiskCsiDriver --enable-autoupgrade --enable-autorepair --max-surge-upgrade 1 --max-unavailable-upgrade 0 --enable-shielded-nodes --node-locations ${{  github.event.client_payload.zone_name }}
          gcloud container clusters get-credentials ${{ github.event.client_payload.cluster_name }} --region ${{ github.event.client_payload.zone_name }} --project ${{ secrets.GCP_PROJECT_ID }}
          cat /tmp/kubeconfig

      - id: 'get-credentials'
        uses: 'google-github-actions/get-gke-credentials@v0'
        with:
          cluster_name: ${{ github.event.client_payload.cluster_name }}
          location: ${{ github.event.client_payload.zone_name }}

      - name: Post Deployment Tasks
        env:
          MONGO_USER: ${{ secrets.MONGO_USER }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
          GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
          PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
          MONGO_URL: ${{ secrets.MONGO_URL }}
          KUBECONFIG: /tmp/kubeconfig

        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pip3 install -r web/requirements.txt
          python3 deployment_utils/kubernetes_post_deployment.py --cluster_type gke --project_name ${{ secrets.PROJECT_NAME }} --cluster_name ${{ github.event.client_payload.cluster_name }} --user_name ${{ github.event.client_payload.user_name }} --zone_name asia-east1-b --helm_installs  ${{ github.event.client_payload.helm_installs }} --expiration_time ${{ github.event.client_payload.expiration_time }}

      - name: Deleting Cluster
        if: always()
        run: |
          gcloud beta container clusters delete ${{ github.event.client_payload.cluster_name }} --zone ${{ github.event.client_payload.zone_name }} --quiet