azure-common==1.1.28
azure-core==1.25.0
azure-mgmt-compute==27.2.0
azure-mgmt-core==1.3.2
azure-mgmt-monitor==4.0.1
azure-nspkg==3.0.2
azure-servicemanagement-legacy==0.20.7
beautifulsoup4==4.11.1
boto3==1.24.63
botocore==1.27.63
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.2
cryptography==39.0.2
dnspython @ git+https://github.com/rthalley/dnspython@925a669f0f15f00908d3e066dbbc461852c06819
Flask==2.1.1
Flask-Cors==3.0.10
google==3.0.0
google-api-core==2.8.2
google-api-python-client==2.58.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-cloud-compute==1.5.1
google-cloud-container==2.11.2
google-cloud-language==2.5.2
googleapis-common-protos==1.56.4
grpc-google-iam-v1==0.12.4
grpcio==1.47.0
grpcio-status==1.47.0
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.3
install==1.3.5
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.1
kubernetes==24.2.0
language==0.6
MarkupSafe==2.1.1
msrest==0.7.1
multi-key-dict==2.0.3
oauth2client==4.1.3
oauthlib==3.2.1
pbr==5.8.1
proto-plus==1.22.0
protobuf==4.21.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.4.0
pymongo==4.1.1
pyOpenSSL==23.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-jenkins==1.7.0
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
six==1.16.0
soupsieve==2.3.2.post1
typing_extensions==4.3.0
uritemplate==4.1.1
urllib3==1.26.9
websocket-client==1.3.3
Werkzeug==2.1.1
zipp==3.8.0
